// Vartheme custom variables
// -----------------------------------------------------------------------------

@import "../node_modules/bootstrap/scss/functions";      // Bootstrap functions.
@import "../node_modules/bootstrap/scss/mixins";         // Bootstrap mixins.
@import "../node_modules/bootstrap/scss/variables";      // Bootstrap variables.
@import "../node_modules/bootstrap/scss/variables-dark"; // Bootstrap variables dark.

// Card's default card-title font size.
$card-xlarge-title-font-size: 2.5rem;
$card-large-title-font-size: 2.5rem;
$card-medium-title-font-size: 1.875rem;
$card-small-title-font-size: 1.5rem;
$card-xsmall-title-font-size: 1.25rem;
