// Use the default Bootstrap coloring for alerts.
// Even tho they will changed in projects.
// Better to keep alerts with:

// - Primary alert : keep theme default
// - Secondary alert : keep theme default
// - Success alert : Green
// - Danger alert : Red
// - Warning alert : Yellow
// - Info alert : Cyan
// - Light alert : keep theme default
// - Dark alert : keep theme default

// Override bootstrap variables with Varbase 10 Branding
// ----------------------------------------------------------------
// See more about override Bootstrap variables here:
// https://getbootstrap.com/docs/5.3/customize/sass
// https://github.com/twbs/bootstrap/blob/v5.3.2/scss/_variables.scss


@import "../../../node_modules/bootstrap/scss/functions";      // Bootstrap functions.
@import "../../../node_modules/bootstrap/scss/mixins";         // Bootstrap mixins.

// scss-docs-start gray-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
// scss-docs-end color-variables

// Override the secondary color to use indigo-600.
$indigo-600: shade-color($indigo, 20%);

// scss-docs-start theme-color-variables
$primary:       $blue;
$secondary:     $indigo-600; // Override the secondary color to use indigo-600.
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
// scss-docs-end theme-colors-map

@import "../../defaults";   // Global component defaults.

// scss-docs-start import-stack
// Import the alert style from the Bootstrap 5 package to be compiled with
// Restricted style and colors in most websites.
@import "../../../node_modules/bootstrap/scss/alert";

// Generate contextual modifier classes for colorizing the alert dismissible close button.
.alert-dismissible {
  .btn-close {
    --bs-btn-close-opacity: 1;
    -webkit-mask-image: var(--bs-btn-close-bg);
    mask-image: var(--bs-btn-close-bg);
    width: 0.75rem;
    height: 0.75rem;
    padding: 0.225rem;
    margin: 1.22rem;
  }
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    &.alert-dismissible {

      @if $color == "light" { 
        .btn-close {
          background: shade-color($value, $btn-active-bg-shade-amount);
        }
      } @else if $color == "dark" {
        .btn-close {
          background: tint-color($value, $btn-active-bg-tint-amount);
        }
      } @else {
        .btn-close {
          background: if($color == $color-contrast-light, shade-color($value, $btn-active-bg-shade-amount), tint-color($value, $btn-active-bg-tint-amount));
        }
      }
    }
  }
}
