@import "../../defaults";   // Global component defaults.

[data-bs-theme=light] {
  .navbar {
    background: var(--bs-white);
  }
}

[data-bs-theme=dark] {
  .navbar {
    background: $blue-700;
  }
}

.navbar {
  height: 5.25rem;

  .form-inline {
    .form-actions {
      display: none;
    }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

.toolbar-horizontal {
  .toolbar-menu {
    &.nav {
      float: left;
    }
  }
}
