@import "../../defaults";   // Global component defaults.

.varbase-hero-card {

  .hero-card-content {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $card-xsmall-title-font-size;
    z-index: 3;
    
    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
      width: 50%;
      top: 20%;
      bottom: 20%;
      left: 5%;
      right: 5%;
    }

    background: $hero-card-content-background-color1;
    background: $hero-card-content-background-color2;
    color: $hero-card-title-color;

    .card-title {
      margin: 0;
      padding: 0;
      color: $hero-card-title-color;
      @include font-size($hero-card-xlarge-title-font-size);
    }

    a {
      color: $hero-card-title-color;
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: $hero-card-content-hover-opacity;
    }
  }
}
