{% set classes = [
  'card',
  'varbase-overlay-card',
  style_size ?? '',
  card_classes
]|merge(utility_classes ?? []) %}

{% set content_classes = [
  'card-img-overlay',
  'd-flex',
  'flex-column',
  'justify-content-' ~ vertical_alignment,
  'align-items-' ~ horizontal_alignment,
  'text-' ~ horizontal_alignment,
   card_body_classes
] %}

<div {{ attributes.addClass(classes) }}>
  {{ media }}
  <div {{ content_attributes.addClass(content_classes) }}>
    {{ content }}
  </div>
</div>
