[dir="ltr"] .varbase-hero-card {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.22%, rgba(0, 0, 0, .5) 73.4%);
}

[dir="rtl"] .varbase-hero-card {
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 2.22%, rgba(0, 0, 0, .5) 73.4%);
}

.varbase-hero-card .hero-card-content {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.25rem;
  z-index: 3;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .varbase-hero-card .hero-card-content {
    width: 50%;
    top: 28%;
    bottom: 20%;
    left: 10%;
    right: 10%;
  }
}

.varbase-hero-card .hero-card-content .card-title {
  color: #fff;
  font-size: calc(1.475rem + 2.7vw);
}

@media (min-width: 1200px) {
  .varbase-hero-card .hero-card-content .card-title {
    font-size: 3.5rem;
  }
}

