.varbase-hero-card .hero-card-content {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.88rem;
  z-index: 3;
  color: #fff;
}

[dir="ltr"] .varbase-hero-card .hero-card-content {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.22%, rgba(0, 0, 0, .5) 73.4%);
}

[dir="rtl"] .varbase-hero-card .hero-card-content {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 2.22%, rgba(0, 0, 0, .5) 73.4%);
}

@media screen and (min-width: 576px) {
  .varbase-hero-card .hero-card-content {
    padding: 12% calc((100vw - 540px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .varbase-hero-card .hero-card-content {
    padding: 12% calc((100vw - 720px) / 2);
  }
}

@media screen and (min-width: 992px) {
  .varbase-hero-card .hero-card-content {
    padding: 12% calc((100vw - 960px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .varbase-hero-card .hero-card-content {
    padding: 12% calc((100vw - 1140px) / 2);
  }
}

@media screen and (min-width: 1400px) {
  .varbase-hero-card .hero-card-content {
    padding: 12% calc((100vw - 1320px) / 2);
  }
}

.varbase-hero-card .hero-card-content .card-title {
  color: #fff;
  font-size: calc(1.475rem + 2.7vw);
}

@media (min-width: 1200px) {
  .varbase-hero-card .hero-card-content .card-title {
    font-size: 3.5rem;
  }
}

.varbase-hero-card .hero-card-content .card-title a {
  color: #fff;
  text-transform: none;
}

