{#
@file
 * Varbase Components implementation for a Heading Block component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3/content/typography/#headings
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.2.3/dist/css/bootstrap.css#L110
 *
 * Available Properties:
 * - heading_tag: Heading HTML tag (h1, h2, h3, h4, h5, h6)
 * - heading_text: The content of the heading.
 * - utility_classes: This property contains an array of utility classes that can
 *                    be used to add extra Bootstrap utility classes or custom
 *                    classes to this component.
 */
#}

{% set heading_tag = ((heading_tag == '') or (heading_tag == '_none')) ? 'div' : heading_tag %}
{% set utility_classes = utility_classes ? utility_classes : [] %}

{%
  set classes = [
    'block',
    'heading-block',
  ]|merge(utility_classes)
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if heading_text|render|striptags|trim %}
  {% include 'varbase_components:heading' with {
      html_tag: heading_tag,
      content: heading_text,
      attributes: create_attribute(),
    }
  %}
  {% endif %}
  {{ title_suffix }}
</div>
