{#
/**
 * @file
 * Template for a Impressed Card component.
 *
 * Available config:
 * - style_size: Card style size.
 * - card_border: Card Boarder (true/false)
 * - equal_height: Equal height (true/false)
 * - anchor_all: Anchor All (true/false)
 * - card_attributes: Drupal attributes for featured card wrapper.
 * - content_attributes: Drupal attributes for card content.
 * - media_position: start|end to determine if the row is reversed or not.
 * - utility_classes: Use to add extra Bootstrap utility classes or custom CSS classes over component. E.g. w-75 mb-3
 * - media: Card Media region.
 * - content: Card Content region.
 */
#}

{% set style_size = style_size ? [style_size]: [] %}
{% set media_position = media_position == 'bottom' ? ['flex-column-reverse'] : [] %}
{% set utility_classes = utility_classes ? utility_classes : [] %}

{# Check if the Card has a boarder on not and set needed no border Bootstrap class #}
{% set card_border = card_border ? [] : ['border-0'] %}

{# Check if the Card is using the Equal height #}
{% set equal_height = equal_height ? ['h-100'] : [] %}

{# Check if the Card is using the Anchor All #}
{% set anchor_all = anchor_all ? ['anchor-all'] : [] %}

{%
  set card_classes = [
    'card',
    'varbase-impressed-card',
  ]|merge(style_size)|merge(card_border)|merge(equal_height)|merge(anchor_all)|merge(media_position)|merge(utility_classes)
%}

{%
  set content_classes = [
    'impressed-card-content',
    'card-body'
  ]
%}

{% if not card_attributes %}
  {% set card_attributes = create_attribute() %}
{% endif %}

{% if not content_attributes %}
  {% set content_attributes = create_attribute() %}
{% endif %}

<div{{ card_attributes.addClass(card_classes) }}>
  {{ media }}
  <div{{ content_attributes.addClass(content_classes) }}>
    {{ content }}
  </div>
</div>
