@import "../../defaults";   // Global component defaults.

.varbase-text-card {

  &.anchor-all {
    .text-card-content {
      position: static;
    }

    h3.card-title {
      position: static;

      a {
        position: static;

        &::before {
          position: absolute;
          content: '';
          display: block;
          overflow: hidden;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;        
          z-index: 1;
        }
      }
    }

    a {
      z-index: 2;
      position: relative;
    }
  }

  &.border-0 {
    .text-card-content {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.xlarge {
    h3.card-title {
      @include font-size($card-xlarge-title-font-size);
    }
  }

  &.large {
    h3.card-title {
      @include font-size($card-large-title-font-size);
    }
  }

  &.medium {
    h3.card-title {
      @include font-size($card-medium-title-font-size);
    }
  }

  &.small {
    h3.card-title {
      @include font-size($card-small-title-font-size);
    }
  }

  &.xsmall {
    h3.card-title {
      @include font-size($card-xsmall-title-font-size);
    }
  }

}
