{% set classes = [
  'card',
  'varbase-text-card',
  style_size ?? '',
  card_classes
]|merge(utility_classes ?? []) %}

{% set content_classes = ['card-body', card_body_classes] %}

<div {{ attributes.addClass(classes) }}>
  <div {{ content_attributes.addClass(content_classes) }}>
    {{ content }}
  </div>
</div>
