footer.footer {
  background-color: #084298;
  color: var(--bs-white);
}

footer.footer a {
  color: var(--bs-white);
  text-decoration: none;
}

footer.footer a:hover, footer.footer a:focus, footer.footer a:active, footer.footer a.active {
  color: var(--bs-white);
  text-decoration: underline;
}

footer.footer .footer-logo-image {
  height: 1.88rem;
}

.social-media-menu-icons li.nav-item > a {
  overflow: hidden;
  text-indent: -9999px;
}

.social-media-menu-icons li.nav-item > a::before {
  text-indent: 0;
}

[dir="ltr"] .social-media-menu-icons li.nav-item > a::before {
  float: left;
}

[dir="rtl"] .social-media-menu-icons li.nav-item > a::before {
  float: right;
}

.social-media-menu-icons li.nav-item > a:hover, .social-media-menu-icons li.nav-item > a:focus, .social-media-menu-icons li.nav-item > a:active, .social-media-menu-icons li.nav-item > a.active {
  color: #cfe2ff;
}

