// Page footer styles.
@import "../../defaults";   // Global component defaults.

footer.footer {
  background-color: shade-color($primary, 40%);
  color: var(--bs-white);

  a {
    color: var(--bs-white);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active,
    &.is-active {
      color: var(--bs-white);
      text-decoration: underline;
    }
  }

  .footer-logo-image {
    height: 1.88rem;
  }
}

.social-media-menu-icons li.nav-item > a {
  overflow: hidden;
  text-indent: -9999px;  

  &::before {
    text-indent: 0;
    float: left;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: tint-color($primary, 80%);
  }
}
