{#
/**
 * @file
 * Varbase Components implementation for the 'radios' #type form element.
 *
 * Available variables
 * - attributes: HTML attributes for the wrapper element.
 * - children: The rendered radios.
 * - utility_classes: An array of utility classes that can be used to add extra
 *                    Bootstrap utility classes or custom classes to this component.
 *
 * @see template_preprocess_radios()
 */
#}
{% set utility_classes = utility_classes ? utility_classes : [] %}
{% set radios_classes = ['form-radios']|merge(utility_classes) %}
<div{{ attributes.addClass(radios_classes) }}>{{ children }}</div>
