{#
@file
 * Varbase Components implementation for the CTA Block component.
 *
 * Available Properties:
 * - heading_tag: Heading HTML tag (h1, h2, h3, h4, h5, h6)
 * - heading_text: The content of the heading.
 * - utility_classes: This property contains an array of utility classes that can
 *                    be used to add extra Bootstrap utility classes or custom
 *                    classes to this component.
 */
#}

{% set title_tag = ((title_tag == '') or (title_tag == '_none')) ? 'h3' : title_tag %}
{% set utility_classes = utility_classes ? utility_classes : [] %}

{%
  set classes = [
    'block',
    'cta-block',
  ]|merge(utility_classes)
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label|render|striptags|trim %}
  {% include 'varbase_components:heading' with {
      html_tag: title_tag,
      content: label,
      utility_classes: ['cta-heading', 'mb-2'],
    } only %}
  {% endif %}
  {{ title_suffix }}

  <div class="cta-body mb-2">{{ content }}</div>
</div>